<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<oembed>
  <version>1.0</version>
  <type>link</type>
  <title>Logbot | #<%= @channel %> | <%= @nick %>&gt; <%= @msg %></title>
  <author_name><%= @nick %></author_name>
  <provider_name>Logbot</provider_name>
  <provider_url><%= request.base_url %></provider_url>
</oembed>
