<!DOCTYPE html>
<html>
  <head>
    <title>Logbot | #<%= @channel %> | <%= @nick %>&gt; <%= @msg %></title>
    <link rel="alternate" type="application/json+oembed"
      href="/oembed.json?url=<%= @url %>"
      title="<%= @title %>" />
    <link rel="alternate" type="text/xml+oembed"
      href="/oembed.xml?url=<%= @url %>"
      title="<%= @title %>" />
    <link rel="stylesheet" type="text/css" href="/assets/embed.css">
    <base target="_blank" />
    <meta name="viewport" content="width=device-width; initial-scale=1.0;"/>
  </head>
  <body>
    <%= erb :_embed %>
    <%= erb :_footer %>
  </body>
</html>
